#Gnip Account settings
gnip.user.name=YOUR_GNIP_USERNAME
gnip.user.password=YOUR_GNIP_PASSWORD
gnip.account.name=YOUR_GNPI_ACCOUNT_NAME
gnip.product=YOUR_GNIP_PRODUCT
gnip.stream.label=YOUR_GNIP_STREAM_LABEL

#AWS Account Information
aws.access.key=YOUR_AWS_ACCESS_KEY
aws.secret.key=YOUR_SECRET_AWS_KEY
aws.kinesis.stream.name=YOUR_DESIRED_KINESIS_STREAM_NAME


#Application configuration parameters-
########################
# Do not change these settings
########################
producer.thread.count=95
batch.size=0
aws.kinesis.shard.count=2
message.queue.size=300
bytes.queue.size=3000
gnip.client.id=1
rate.limit=-1
metric.report.interval.seconds=60
